body {
  font-family: Verdana, sans-serif;
  font-size: 0.9em;
}

header,
footer {
  padding: 10px;
  color: white;
  background-color: black;
}

section {
  margin: 5px;
  padding: 10px;
  background-color: lightgrey;
}

article {
  margin: 5px;
  padding: 10px;
  background-color: white;
  width: 65%;
}
aside {
  margin: 5px;
  padding: 10px;
  background-color: rgb(114, 78, 78);
  width: 27%;
  position: relative;
  top: -442px;
  float: right;
  height: 412px;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 5px;
}
